@import "tailwindcss";

@layer base {
a{
  text-decoration: none !important;
}
}

@layer components {
  /* .typography {
    color: var(--color-gray-950);
    a {
      color: var(--color-blue-500);
      &:hover {
        color: var(--color-blue-800);
      }
    }
  } */
}
@theme {
  /* --color-midnight: #121063; */
  /* --color-tahiti: #3ab7bf; */
  --color-My-yellow-50: #FFF8F6;
  --color-My-yellow-100: #E7C873;
  --color-My-yellow-200: #FFF8F6;
  --color-My-yellow-300: #E7C873;
  --color-My-gray-100: #E9E9E9;
  --color-My-green-100: #1F4B43;
  --color-My-red-100: #EB664E;
  --color-My-black-100: #1A1A1A;

  --color-my-gray-50: oklch(0.984 0.003 247.858);
  /* --color-gray-100: oklch(0.968 0.007 247.896);
  --color-gray-200: oklch(0.929 0.013 255.508);
  --color-gray-300: oklch(0.869 0.022 252.894);
  --color-gray-400: oklch(0.704 0.04 256.788);
  --color-gray-500: oklch(0.554 0.046 257.417);
  --color-gray-600: oklch(0.446 0.043 257.281);
  --color-gray-700: oklch(0.372 0.044 257.287);
  --color-gray-800: oklch(0.279 0.041 260.031);
  --color-gray-900: oklch(0.208 0.042 265.755);
  --color-gray-950: oklch(0.129 0.042 264.695);

*/
  --breakpoint-xxs: 1400px;
  --breakpoint-smd: 1250px;
  --breakpoint-xss: 1000px;
  --breakpoint-sss: 900px;
  --breakpoint-xxx: 700px;
  --breakpoint-xxt: 500px;
  --breakpoint-Mobile: 360px;
  /* --breakpoint-sss: 900px; */
  /* --breakpoint-2xl: 100rem; */
  /* --breakpoint-3xl: 120rem;  */
}
